/* Hack */
@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Regular.ttf') format('truetype');
}

/* Monoid */
@font-face {
  font-family: 'Monoid';
  src: url('../fonts/Monoid-Regular.ttf') format('truetype');
}